<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="description" content="{{ description }}" />

        <!-- Begin Facebook tags-->
        <meta property="og:url" content="{{ header['url'] }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ header['description'] }}" />
        <meta property="og:image" content="{{ url_for('static', filename='img/' + header['icon']) }}" />
        <!-- End Facebook tags -->


        {% if is_production %}
            <!-- Begin Inspectlet Embed Code -->

            <!-- End Inspectlet Embed Code -->

            <!-- Google analytics script goes here -->

            <!-- End of Google analytics script -->
        {% endif %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="image_src" href="{{ url_for('static', filename='img/' + header['icon']) }}" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer class="footer u-bC-main u-mT-0 u-p-md">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 u-tC-white">
                        © 2017 {{ product_name }}
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
