{% extends "base.html" %}

{% block content %}
    <div class="HomePage">
        <div
            class="HomePage-banner u-dC-flexCenter"
            style="background-image: url('{{ url_for('static', filename='img/' + banner) }}')"
        >
            <div class="HomePage-bannerContent text-center">
                <h1 class="u-m-0 u-tC-white">
                    {{ tagline }}
                </h1>
                <h2 class="u-tC-white">
                    {{ slogan }}
                </h2>
                {% if mailchimp['top']['show'] %}
                    <div id="mc_embed_signup">
                        <form
                            action={{ mailchimp['subscribe_url'] }}
                            id="mc-embedded-subscribe-form"
                            method="post"
                            name="mc-embedded-subscribe-form"
                            novalidate
                            target="_blank"
                        >
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                                        <div class="input-group u-mT-xl">
                                            <input
                                                autofocus
                                                class="form-control input-lg"
                                                name="EMAIL"
                                                id="mce-EMAIL"
                                                placeholder="{{ mailchimp['email_placeholder'] }}"
                                                type="email"
                                            >
                                            <span class="input-group-btn hidden-xs">
                                                <button
                                                    class="btn btn-lg btn-success"
                                                    id="mc-embedded-subscribe"
                                                >
                                                {{ mailchimp['subscribe_button_text'] }}
                                                </button>
                                            </span>
                                            <span class="hide-above-xs">
                                                <button
                                                    class="btn btn-lg btn-success HomePage-subscribeButton--mobile"
                                                    id="mc-embedded-subscribe"
                                                >
                                                    {{ mailchimp['subscribe_button_text'] }}
                                                </button>
                                            </span>
                                        </div>
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ac52370982b0636b0acd6901_3d640d6ad8" tabindex="-1" value=""></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="HomePage-bannerBackdrop"></div>
        </div>
        {% if sections['how_it_works']['show'] %}
            <div class="text-center HomePage-section HomePage-lastSection">
                <h2 class="HomePage-sectionTitle u-tW-light u-mT-0 u-mB-xxl">How It Works</h2>
                <div class="HomePage-howItWorks u-dC-flexCenter">
                    <div class="HomePage-howItWorksItem">
                        <i class="fa fa-4x {{sections['how_it_works']['step_1']['icon']}} u-mB-sm u-tC-brandMain"></i>
                        <div class="u-tS-lg">
                            {{ sections['how_it_works']['step_1']['description'] }}
                        </div>
                    </div>
                    <div>
                        <div class="hidden-xs u-mR-xxl">
                            <i class="u-tC-gray fa fa-2x fa-long-arrow-right"></i>
                        </div>
                        <div class="hide-above-xs u-mB-md">
                            <i class="u-tC-gray fa fa-2x fa-long-arrow-down"></i>
                        </div>
                    </div>
                    <div class="HomePage-howItWorksItem">
                        <i class="fa fa-4x {{sections['how_it_works']['step_2']['icon']}} u-mB-sm u-tC-brandMain"></i>
                        <div class="u-tS-lg">
                            {{ sections['how_it_works']['step_2']['description'] }}
                        </div>
                    </div>
                    <div>
                        <div class="hidden-xs u-mR-xxl">
                            <i class="u-tC-gray fa fa-2x fa-long-arrow-right"></i>
                        </div>
                        <div class="hide-above-xs u-mB-md">
                            <i class="u-tC-gray fa fa-2x fa-long-arrow-down"></i>
                        </div>
                    </div>
                    <div class="HomePage-howItWorksItem">
                        <i class="fa fa-4x {{sections['how_it_works']['step_3']['icon']}} u-mB-sm u-tC-brandMain"></i>
                        <div class="u-tS-lg">
                            {{ sections['how_it_works']['step_3']['description'] }}
                        </div>
                    </div>
                    <div>
                        <div class="hidden-xs u-mR-xxl">
                            <i class="u-tC-gray fa fa-2x fa-long-arrow-right"></i>
                        </div>
                        <div class="hide-above-xs u-mB-md">
                            <i class="u-tC-gray fa fa-2x fa-long-arrow-down"></i>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-4x {{sections['how_it_works']['step_4']['icon']}} u-mB-sm u-tC-brandMain"></i>
                        <div class="u-tS-lg">
                            {{ sections['how_it_works']['step_4']['description'] }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if sections['map']['show'] %}
        <div class="row u-bC-main">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 HomePage-section HomePage-section--reverse HomePage-section--withMap u-dC-flex">
                <div
                    class="HomePage-map"
                    style="background-image: url('{{ url_for('static', filename='img/' + sections['map']['image']) }}')"
                ></div>
                <div class="HomePage-sectionContent HomePage-sectionContent--reverse u-pB-xxl u-pT-xxl u-tC-white">
                    <h2 class="HomePage-sectionTitle u-mT-0 u-tW-light">{{ sections['map']['title'] }}</h2>
                    <p class="HomePage-sectionCopy">
                        {{ sections['map']['description'] }}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% if sections[1]['show'] %}
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 HomePage-section u-dC-flex">
                    <div>
                        <img
                            class="HomePage-sectionImg"
                            src={{ url_for('static', filename='img/' + sections[1]['image']) }}
                        >
                    </div>
                    <div class="HomePage-sectionContent">
                        <h2 class="HomePage-sectionTitle u-tW-light">{{ sections[1]['title'] }}</h2>
                        <p class="HomePage-sectionCopy">
                            {% if sections[1]['type'] == 'bullet' %}
                              <ul>
                              {% for item in sections[1]['description'] %}
                                  <li style="list-style-type: circle;">{{ item|e }}</li>
                              {% endfor %}
                              </ul>
                            {% else %}
                              {{ sections[1]['description'] }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if sections[2]['show'] %}
            <div class="row u-bC-main">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 HomePage-section HomePage-section HomePage-section--reverse u-dC-flex">
                    <div>
                        <img
                            class="HomePage-sectionImg"
                            src={{ url_for('static', filename='img/' + sections[2]['image']) }}
                        >
                    </div>
                    <div class="HomePage-sectionContent HomePage-sectionContent--reverse u-tC-white">
                        <h2 class="HomePage-sectionTitle u-tW-light">{{ sections[2]['title'] }}</h2>
                        <p class="HomePage-sectionCopy">
                            {{ sections[2]['description'] }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if sections[3]['show'] %}
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 HomePage-section u-dC-flex">
                    <div>
                        <img
                            class="HomePage-sectionImg"
                            src={{ url_for('static', filename='img/' + sections[3]['image']) }}
                        >
                    </div>
                    <div class="HomePage-sectionContent">
                        <h2 class="HomePage-sectionTitle u-tW-light">{{ sections[3]['title'] }}</h2>
                        <p class="HomePage-sectionCopy">
                            {{ sections[3]['description'] }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if sections[4]['show'] %}
            <div class="row u-bC-main">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 HomePage-section HomePage-section--reverse u-dC-flex">
                    <div>
                        <img
                            class="HomePage-sectionImg"
                            src={{ url_for('static', filename='img/' + sections[4]['image']) }}
                        >
                    </div>
                    <div class="HomePage-sectionContent HomePage-sectionContent--reverse u-tC-white">
                        <h2 class="HomePage-sectionTitle u-tW-light">{{ sections[4]['title'] }}</h2>
                        <p class="HomePage-sectionCopy">
                            {{ sections[4]['description'] }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if sections[5]['show'] %}
            <div class="row HomePage-lastSection">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 HomePage-section u-dC-flex">
                    <div>
                        <img
                            class="HomePage-sectionImg"
                            src={{ url_for('static', filename='img/' + sections[5]['image']) }}
                        >
                    </div>
                    <div class="HomePage-sectionContent">
                        <h2 class="HomePage-sectionTitle u-tW-light">{{ sections[5]['title'] }}</h2>
                        <p class="HomePage-sectionCopy">
                            {{ sections[5]['description'] }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if mailchimp['bottom']['show'] %}
            <div
                class="u-mT-xxl"
                id="mc_embed_signup"
            >
                <form
                action={{ mailchimp['subscribe_url'] }}
                    id="mc-embedded-subscribe-form"
                    method="post"
                    name="mc-embedded-subscribe-form"
                    novalidate
                    target="_blank"
                >
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                                <h1 class="text-center u-m-0">
                                    {{ mailchimp['mailchimp_cta_bottom'] }}
                                </h1>
                                <div class="input-group u-mT-xl u-mB-xxl">
                                    <input
                                        autofocus
                                        class="form-control input-lg"
                                        name="EMAIL"
                                        id="mce-EMAIL"
                                        placeholder="{{ mailchimp['email_placeholder'] }}"
                                        type="email"
                                    >
                                    <span class="input-group-btn hidden-xs">
                                        <button
                                            class="btn btn-lg btn-success"
                                            id="mc-embedded-subscribe"
                                        >
                                            {{ mailchimp['subscribe_button_text'] }}
                                        </button>
                                    </span>
                                    <span class="hide-above-xs">
                                        <button
                                            class="btn btn-lg btn-success HomePage-subscribeButton--mobile"
                                            id="mc-embedded-subscribe"
                                        >
                                            {{ mailchimp['subscribe_button_text'] }}
                                        </button>
                                    </span>
                                </div>
                                <div id="mce-responses" class="clear">
                                   <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ac52370982b0636b0acd6901_3d640d6ad8" tabindex="-1" value=""></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
