<div class="HomePage-section text-center HomePage-lastSection container-fluid">
  <h2 class="HomePage-sectionTitle u-tW-light u-mT-0 u-mB-xxl">Why We're Better</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-8 u-dC-flex">
            <div class="row my_planHeaderContainer">
                <div class="col-xs-4 my_planHeader my_plan1">
                    <div class="my_planTitle">PopX</div>
                </div>
                <div class="col-xs-4 my_planHeader my_plan2">
                    <div class="my_planTitle">Self-run Pop Up</div>
                </div>
                <div class="col-xs-4 my_planHeader my_plan3">
                    <div class="my_planTitle">Retail Store</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Price / Day
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <span><strong>$15</strong></span>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <span>$125</span>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <span>$270</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Transparent Pricing
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <span>Requires haggling with owners</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Month-to-month Subscription
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-remove"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <span>1 to 3 year lease</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Book Spaces Online
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-remove"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Inventory Management Included
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-remove"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Cancel Any Time
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Easily Launch Multiple Stores at Once
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-remove"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Growth &amp; Sales Dashboard
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row my_feature_row_row u-dC-flex">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-remove"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
        </div>
    </div>
    <h6 class="text-right">*fees estimated based on operating comparable retail locations in Williamsburg, NYC.</h6>
</div>
